.sidebar {
  float:right;
}
.row {
  margin: 10px 10px 10px 10px;
  padding: 100px yellow;
  border: 10px 10px 10px 10px;
  /* background-color: lightblue; */

}

.main  {
  margin: 30px green;
  border: 20px purple;
  padding: 20px blue;
  /* background-color: #F5F5F5; */
}

.main h1 {
  float: left;
}

.main h2 {
  float: center;
}

.section {
  /* border: 1px solid blue; */
}

.article {
  margin:60px 40px 40px 40px;
  border: 1px red;
}

/* .images {
  border: 2px solid blue;
} */

img.hood {
  width: 25%;
  height: 25%;
  margin:0px;
  /* border:2px solid green; */
  padding: 15px;
  float:left;
}

footer {
  float: right;
}

.col-md-6 {
  /* border: 2px solid black; */
  padding:40px ;
}

.about {
  /* border: 2px solid green; */
  text-align: center;
  padding-top: 40 px;
}

ul {
  list-style: none;
}

.project {
  /* border: 1px solid yellow; */
  /* background-color: #F5F5F5; */
  text-align: center;
}

address {
  float: right;
}
.rowtwo {
  background-color: blue;
}
