.sidebar {
  float:right;
}
.row {
  margin: 10px 10px 10px 10px;
  padding: 10px yellow;
  border: 10px 10px 10px 10px;
  border-color: red;
  background-color: lightblue;

}

.main  {
  margin: 30px green;
  border: 20px purple;
  padding: 20px blue;
  background-color: lightyellow;
}

.main h1 {
  float: left;
}

.main h2 {
  float: center;
}

.article {
  margin-left: 20px;
  margin-top: 40px;
}
.image {
  width: 100%;
  height: 400px;
  float:left;
}
