.sidebar {
  float:right;
}
.row {
  margin: 10px 10px 10px 10px;
  padding: 10px yellow;
  border: 10px 10px 10px 10px;
  border-color: red;
  background-color: lightblue;

}

.main  {
  margin: 30px green;
  border: 20px purple;
  padding: 20px blue;
  background-color: lightyellow;
}

.main h1 {
  float: left;
}

.main h2 {
  float: center;
}

.article {
  margin-left: 20px;
  margin-top: 40px;
}

/* .images {
  border: 2px solid blue;
} */

img.hood {
  width: 25%;
  height: 25%;
  margin:0px;
  /* border:2px solid green; */
  padding: 15px;
  float:left;
}

.box {
  border: 2px green;
}
footer {
  float: right;
}
